.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1/4;
}

.header{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.mainContent{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.sidebar ul{
    list-style-type: none;
}

.header .search{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header .bell{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header .userInfo{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.header .buttons{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}